.product-list-title,
.product-title,
.cart-title {
  font-weight: 900;
}

.product-image {
  height: 200px;
}

.card-login-title,
.product-price {
  font-weight: 900;
}

.product-detail-image {
  height: 450px;
}
